* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    padding: 32px;
    color: white;
}

.container {
    background-color: #c21322;
    display: flex;
    gap: 16px;
}

.column {
    flex: 1;
    background-color: antiquewhite;
    padding: 16px;
    border-radius: 6px;
}

.column-item {
    background-color: burlywood;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 4px;
}