* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 40px;
    background-color: #5d5d5d;
}

.wrapper {
    width: 480px;
    margin: auto;
    position: relative;
}

.top, .bottom {
    width: 100%;
    height: 30px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
}

.wrapper-inner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.box-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.box {
    width: 60px;
    height: 60px;
    float: left;
    background-color: whitesmoke;
}

.wrapper > .box:nth-child(16n + 1),
.wrapper > .box:nth-child(16n + 2),
.wrapper > .box:nth-child(16n + 4),
.wrapper > .box:nth-child(16n + 6),
.wrapper > .box:nth-child(16n + 8),
.wrapper > .box:nth-child(16n + 11),
.wrapper > .box:nth-child(16n + 13),
.wrapper > .box:nth-child(16n + 15) {
    background-color: rgba(19, 18, 18, 0.795);
}